@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  font-family: "Readex Pro", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*SETTING LAYOUT*/

#container,
.set-timer,
#clock-container,
#set-container,
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#set-container,
.buttons-container {
  flex-direction: row;
}

#set-container {
  flex-wrap: wrap;
}

#container,
.set-timer,
#clock-container {
  flex-direction: column;
}

#container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  width: 100%;
  max-width: 620px;
  border-radius: 20px;
  margin: auto;
}

/*HEADER*/
#header {
  text-align: center;
  line-height: 0.6em;
}

#header h1 {
  font-weight: bold;
  font-size: 2em;
  text-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.3);
}

/*LENGTH SETTERS*/

.set-timer {
  margin: 10px;
  width: 180px;
}

.counter-length {
  font-size: 2em;
  width: 1.5em;
  text-align: center;
}

.setter-label {
  font-size: 1.2em;
}

button {
  margin: 0 10px;
  width: 2.6em;
  text-align: center;
}

/* CLOCK */

#clock-container {
  width: 150px;
}

#timer-label {
  font-size: 1.5em;
  margin: 0px;
  margin-top: 10px;
  font-weight: bold;
}

#time-left {
  font-family: "Digital", sans-serif;
  font-weight: bold;
  font-size: 3em;
  padding: 0px;
  text-align: center;
}

/*POMODORO COUNTER*/
#pomodoro-count {
  margin: 15px;
}

.tomato-pic {
  width: 1.5em;
}